<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">

    <div class="addMune">
      <ion-button (click)="addmuenu()">Add menu</ion-button>
    </div>

    <p *ngIf="menu.length > 0"></p>
    <ion-list>

      <ion-item *ngFor="let menus of menu" [routerLink]="'/view-menu/' +menus?.menuId">  
        <ion-avatar slot="start">
          <img src="{{menus.imgUrl}}">
        </ion-avatar>
        <ion-label>
          <h2>{{menus.name}}</h2>
          <p>{{menus.description}}</p>
          <p>{{menus.price | currency: 'ZAR '}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
    <p style="text-align: center;" class="info-text mat-body-1 center" *ngIf="menu.length <= 0">
      No menu/meals!
    </p>
    
  </div>

</ion-content>
