<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">

    <div class="cont-2">
      <p style="font-size: small; margin-bottom: 30px;"><b>Add a new Restaurant</b></p>
    </div>


    <div class="cont-1">
      <form [formGroup]="addRestaurantForm" (ngSubmit)="addRes()">
        <ion-list>
          <ion-input formControlName="resName" style="margin-bottom: 10px;" type="text" placeholder="Restaurant Name"></ion-input>
          <div *ngFor="let error of errorMessages.resName">
            <ng-container *ngIf="resName.hasError(error.type) && (resName.dirty || resName.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-input formControlName="phone" style="margin-bottom: 10px;" type="text" placeholder="Phone"></ion-input>
          <div *ngFor="let error of errorMessages.phone">
            <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-input formControlName="email" style="margin-bottom: 10px;" type="email" placeholder="Email"></ion-input>
          <div *ngFor="let error of errorMessages.email">
            <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-input formControlName="address" style="margin-bottom: 10px;" type="text" placeholder="Address"></ion-input>
          <div *ngFor="let error of errorMessages.address">
            <ng-container *ngIf="address.hasError(error.type) && (address.dirty || address.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-input formControlName="website" style="margin-bottom: 10px;" type="text" placeholder="Website"></ion-input>
          <ion-input type="file" formControlName="imgUrl" accept="image/*" (change)="onFileSelected($event)"></ion-input>
          <!-- <ion-input type="file" formControlName="imgUrl" accept="image/*" (change)="onFileSelected($event)" style="margin-bottom: 10px;" type="text" placeholder="Restaurant Image"></ion-input> -->
          <div *ngFor="let error of errorMessages.imgUrl">
            <ng-container *ngIf="imgUrl.hasError(error.type) && (imgUrl.dirty || imgUrl.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <!-- <ion-row formArrayName="address">
            <ion-col size="12" *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
              <ion-row>
                <ion-col size="8">
                  <h4>Address {{ i + 1 }}</h4>
                </ion-col>
                <ion-col size="4">
                  <div class="btn">
                    <ion-fab-button color="success" style="position: relative;" (click)="addAddress()">
                      <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                    
                    <ion-fab-button color="danger" (click)="removeAddress()">
                      <ion-icon name="close"></ion-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="line" size="12" style="text-align: center;">
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-input formControlName="street" style="margin-bottom: 10px;" type="text" placeholder="Street Address"></ion-input>
                  <div *ngFor="let error of errorMessages.street">
                    <ng-container *ngIf="street.hasError(error.type) && (street.dirty || street.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="4">
                  <ion-input formControlName="city" style="margin-bottom: 10px;" type="text" placeholder="City"></ion-input>
                  <div *ngFor="let error of errorMessages.city">
                    <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <ion-input formControlName="province" style="margin-bottom: 10px;" type="text" placeholder="Province"></ion-input>
                  <div *ngFor="let error of errorMessages.province">
                    <ng-container *ngIf="province.hasError(error.type) && (province.dirty || province.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <ion-input formControlName="zipCode" style="margin-bottom: 10px;" type="text" placeholder="Zip Code"></ion-input>
                  <div *ngFor="let error of errorMessages.zipCode">
                    <ng-container *ngIf="zipCode.hasError(error.type) && (zipCode.dirty || zipCode.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row> -->
        </ion-list>

        <ion-button class="btnsignup" (click)="addRes()" fill="clear" *ngIf="!spin">
          Add Restaurant
        </ion-button>

      </form>

      <div class="ion-text-center" *ngIf="spin">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </div>


  </div>

</ion-content>