<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">

  <div class="head">
    <a routerLink="sign-in">
      <h3 style="text-align: right; margin-right: 25px; margin-top: 30px; font-size: small; font-weight: bold;" routerLink="/signin">Sign in</h3>
    </a>
  </div>

  <div class="head">
    <h3 style="text-align: left; margin-left: 15px; margin-top: 50px; color: #FFFFFF; font-weight: 600;">Find the best<br/> restaurants and<br/> book your favorite</h3>
  </div>

  <div class="btns">
    <div class="signup">
      <ion-button class="btnsignup" fill="clear" (click)="signup()">Sign up</ion-button>
    </div>

    <ion-row>
      <ion-col class="line" size="5" style="text-align: center;">
      </ion-col>

      <ion-col size="2" style="text-align: center; color: #000000;">
        OR
      </ion-col>

      <ion-col class="line" size="5" style="text-align: center;">
      </ion-col>
    </ion-row>

    <div class="google">
      <ion-button class="btngoogle" fill="clear">Continue with Google</ion-button>
    </div>
  </div>

</ion-content>

