<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="restaurants; then thenShow; else elseShow"></div>

  <ng-template #thenShow>
    <div class="content">

      <div class="imgage">
        <img style="width: 90%; height: 150px; margin-left: 18px; margin-top: 10px;" src="{{restaurants?.imgUrl}}" alt="">
      </div>
      <div class="editRes">
        <ion-button size="small" [routerLink]="'/edit-restaurant/' +restaurants?.ownerId">Edit Profile</ion-button>
      </div>
  
      <div class="cont-1">
        <ion-grid >
  
          <ion-item>
        
          </ion-item>
  
          <ion-item>
            <p style="font-size: 12px; font-weight: 600;">Restaurant: 
              {{restaurants?.resName}}
            </p>
          </ion-item>
    
          <ion-item>
            <p style="font-size: 12px; font-weight: 600;">Email:
              {{restaurants?.email}}
            </p>
          </ion-item>
    
          <ion-item>
            <p style="font-size: 12px; font-weight: 600;">Phone:
              +27{{restaurants?.phone}}
            </p>
          </ion-item>
    
          <ion-item>
            <p style="font-size: 12px; font-weight: 600;">Website:
              {{restaurants?.website}}
            </p>
          </ion-item>
    
          <ion-item>
            <p style="font-size: 12px; font-weight: 600;">Address:
              {{restaurants?.address[0].city }}
            </p>    
          </ion-item>
        </ion-grid>
      </div>
  
    </div>
  </ng-template>

  <ng-template #elseShow>
    <div class="addRes">
      <p style="text-align: center;">No restaurant profile found, please click below to add a new one</p>
      <ion-button color="success" (click)="newRestaurant()">Add New Restaurant</ion-button>
    </div>
  </ng-template>

</ion-content>
