<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
 
    <div class="img">
      <img style="width: 160px;" src="../../../assets/images/logo.png" alt="">
    </div>

    <div class="cont-2">
      <p style="font-size: small; margin-bottom: 30px;"><b>Complete your registration by filling up the form</b></p>
    </div>

    <div class="cont-1">
      <form [formGroup]="ownerForm" (ngSubmit)="register_Owner()">
        <ion-input formControlName="name" style="margin-bottom: 10px;" type="text" placeholder="First and Last name">
        </ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.name.errors?.required" style="color: red;">
          Firstname and Lastname are required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.name.errors?.minlength" style="color: red;">
          Min 20 chars long.
        </span>
        <ion-input formControlName="email" style="margin-bottom: 10px;" type="email" placeholder="Email"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.email.errors?.required" style="color: red;">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.email.errors?.pattern" style="color: red;">
          Enter valid email.
        </span>
        <ion-input formControlName="mobile" style="margin-bottom: 10px;" type="text" placeholder="Mobile"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.mobile.errors?.required" style="color: red;">
          Phone number is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.mobile.errors?.pattern" style="color: red;">
          Number values allowed.
        </span>
        <ion-input formControlName="password" style="margin-bottom: 10px;" type="password" placeholder="Password">
        </ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorCtr.password.errors?.required" style="color: red;">
          Password is required.
        </span>

        <ion-button class="btnsignup" [disabled]="!ownerForm.valid" (click)="register_Owner()" fill="clear" *ngIf="!spin">
          Sign up
        </ion-button>
      </form>

    </div>

    <div class="cont-2">
      <p style="font-size: small; margin-top: 0px;">Already have an account?<a routerLink="/signin"><b> Sign in</b></a>
      </p>
    </div>

    <div class="ion-text-center" *ngIf="spin">
      <ion-spinner color="primary"></ion-spinner>
    </div>

  </div>

</ion-content>