<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon size="medium" name="home-outline"></ion-icon>
      <small>Home</small>
    </ion-tab-button>

    <ion-tab-button tab="view-bookings">
      <ion-icon size="medium" name="book-outline"></ion-icon>
      <small>Bookings</small>
    </ion-tab-button>

    <ion-tab-button tab="dash-profile">
      <ion-icon size="medium" name="person-outline"></ion-icon>
      <small>Profile</small>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>