.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  
  .cont-1 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 20px;
  }
  
  .cont-2 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 20px;
  }
  
  .line{
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
  }
  
  ion-input {
    background-color: #ededed;
    border-radius: 5px;
    font-size: small;
    width: 100%;
  }
  
  ion-fab-button{
    // --close-icon-font-size: 5px;
    width: 30px;
    height: 30px;
  }
  
  .btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
  .btnsignup{
    display: flex;
    flex-direction: column;
    --background: #50A581;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    text-transform: none;
    width: 100%;
    height: 40px;
  }
  
  