

.line{
    border-bottom: 1px solid grey;
    margin-top: -80px;
    padding-left: 100px;
    //margin-right: 60px;
}

.cont-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;
    margin-right: 20px;
  }