<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">

    <div class="cont-2">
      <h2 style=" margin-bottom: 10px;"><b>View Bookings</b></h2>
    </div>

    <ion-card *ngFor="let book of booking">
      <ion-card-title style="margin-left: 18px; font-size: small;">
        {{book.firstName}} {{book.lastName}} - <b style="font-size: 9px;">{{book?.createdAt.toDate() | date}} - {{book?.createdAt.toDate() | date: 'H:mm'}}</b>
      </ion-card-title>
      <ion-card-content>
      
        <ion-grid>
          <ion-row>
            <ion-col class="line">
              
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-row>
          <ion-col size="12">
            <p style="font-size: x-small; font-weight: bold;">Date: {{book.date | date}}</p>
            <p style="font-size: x-small; font-weight: bold;">Time: {{book.time | date: 'H:mm'}}</p>
            <p style="font-size: x-small; font-weight: bold;">Guests: {{book.guests}}</p>
            <p style="font-size: x-small; font-weight: bold;">Seating Preference: {{book.preference}}</p>
            <p style="font-size: x-small; font-weight: bold;">Mobile: +27{{book.mobile}}</p>
            <p style="font-size: x-small; font-weight: bold;">Email: {{book.email}}</p>
            <p *ngIf="book.status == 'Pending'" style="font-size: x-small; font-weight: bold;">Booking is: {{book.status}}</p> 
            <p *ngIf="book.status == 'Approved'" style="font-size: x-small; font-weight: bold;">Booking is: {{book.status}}</p> 
            <p *ngIf="book.status == 'Cancelled'" style="font-size: x-small; font-weight: bold;">Booking is: {{book.status}}</p> 
            <p></p>
            <p (click)="status(book.ownerId, book.uid, 'Pending')"></p>
            <ion-button style="text-transform: capitalize;" (click)="status(book.ownerId, book.uid, 'Approved')" color="success" size="small" name="selected">Confirm</ion-button>
            <ion-button style="text-transform: capitalize;" (click)="status(book.ownerId, book.uid, 'Cancelled')" color="danger" size="small">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
