<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="ion-text-center">
    <ion-icon name="person"></ion-icon>
    <h3>Welcome, <br>
      Mr. Mogau Ngwatle
    </h3>
  </section>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon name="person"></ion-icon>
          <h2>Profile</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
