
<ion-content>

  <ion-grid style="margin-top: 50px;">

    <ion-row>
      <ion-col size="12">
        <h4 style="font-size: 1.2em;">
          Hello, <b>{{owners?.name}}</b> <br>
        </h4>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-col size="6">
        <ion-card routerLink="/stats">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Dashboard</ion-card-title>
          </ion-card-header>

          <ion-card-content></ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card routerLink="/view-bookings">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Bookings</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h4 style="text-align: center;">{{ this.bookingSize }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/pending">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Pending</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h4 style="text-align: center;">{{ this.pendingSize }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card routerLink="/approved">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Approved</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h4 style="text-align: center;">{{ this.approvedSize }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/cancelled">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Cancelled</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h4 style="text-align: center;">{{ this.cancelledSize }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card routerLink="/reviews">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Reviews</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h4 style="text-align: center;">{{ this.reviewSize }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-padding" color="danger"  routerLink="/profile">
          <ion-icon style="font-size: 50px;" name="person"></ion-icon>
          <h3>Profile</h3>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-padding" color="danger" routerLink="/menu">
          <ion-icon style="font-size: 50px;" name="menu"></ion-icon>
          <h3>Menu</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-padding" color="danger" routerLink="/view-bookings">
          <ion-icon style="font-size: 50px;" name="book"></ion-icon>
          <h3>Bookings</h3>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>


</ion-content>
