<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="ion-text-center ion-padding">
    <ion-icon style="font-size: 50px;" name="person"></ion-icon>
    <h6 style="font-size: 1.4em;">Welcome, <b>{{owners?.name}}</b> <br>
      <!-- Mr. Mogau Ngwatle -->
    </h6>
  </section>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-padding" color="danger"  routerLink="/profile">
          <ion-icon style="font-size: 50px;" name="person"></ion-icon>
          <h3>Profile</h3>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-padding" color="danger" routerLink="/menu">
          <ion-icon style="font-size: 50px;" name="menu"></ion-icon>
          <h3>Menu</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-padding" color="danger" routerLink="/view-bookings">
          <ion-icon style="font-size: 50px;" name="book"></ion-icon>
          <h3>Bookings</h3>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="6">
        <ion-card class="ion-text-center ion-padding" color="danger">
          <ion-icon style="font-size: 50px;" name="settings"></ion-icon>
          <h3>Settings</h3>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>


</ion-content>
