<!-- <ion-header>
  <ion-toolbar>
    <ion-title>logo</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="advert" style="margin-top: 150px;">

    <h1 style="color: #50A581; margin-bottom: -20px; font-size: 45px;"><b>Welcome</b></h1>
      <h4 style="color: #50A581; font-size: 30px; font-weight: bold;"><b>TO</b></h4>
    <div class="img">
      <img src="../../../assets/images/logo.png" alt="">
    </div>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button >
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </div>

</ion-content>
